{
    "env": {
        "inferno-ts": {
            "plugins": [
                ["babel-plugin-inferno", { "imports": true }],
                ["@babel/plugin-proposal-class-properties", { "loose": true }]
            ],
            "presets": ["@babel/preset-typescript"]
        },
        "snowpack": {
            "plugins": [
                ["snowpack/assets/babel-plugin.js", {
                    "optionalExtensions": true,
                    "addVersion": false
                }]
            ]
        },
        "snowpack-prod": {
            "plugins": [
                ["snowpack/assets/babel-plugin.js", {,
                    "dir": "/inferno-snowpack-ts-demo/web_modules/"
                    "optionalExtensions": true,
                    "addVersion": false
                }]
            ],
            "presets": [["minify", {
                "removeConsole": true,
                "removeDebugger": true
              }]]
        }
    }
}
